<form class="d-flex input-group w-auto">
    <div class="category form-control">
        <select name="" id="">
            <option value="1"></option>
            <option value="2"></option>
        </select>
        </div>
        <div class="year ">
        <label for="input_year_1">año</label>
        <input class="form-control" type="number" name="input_year_1" id="" value="2010"> - <input class="form-control" type="number" name="input_year_2" id="" value="2012">
        </div>
        <div class="note">
        <label for="input_note">nota</label>
        <input class="form-control"type="number" name="" id="">
        </div>
  </form>
